<div class="index-container">
	<h1 class="index-header">WORKOUT LOGGER</h1>
	<div class="index-form">
		<%= button_to 'Add Workout', new_workout_path(@workout), :class => "show-link", :method => :get %>
	</div>
	<h3 class="index-subheader">Workout Log Below</h3>
	<div class="index-subcont">
		<ul class="workout-ul">
			<% @workouts.each do |workout| %>
			<li class="workout-li"><%= link_to workout.name, workout_path(workout)%>, <%= workout.date %></li>
			<% end %>
		</ul>
		<div class="index-quote">
			<%= render partial: 'quote'%>
		</div>
	</div>
	<div class="index-footer">
		<%= render partial: 'footer'%>
	</div>
</div>