<div class="show-container">
	<h1 class="show-header">WORKOUT LOGGER</h1>
	<form class="show-form" action="http://localhost:3000/workouts">
		<button class="show-list">View Workouts</button>
	</form>
	<div class="show-subcont">
		<div class="show-info">
			<h3 class="workout-header"><%= @workout.name %></h3>

			<h5 class="workout-info">Wokrout Type: <%= @workout.name %></h5>
			<h5 class="workout-info">Muscle Group: <%= @workout.muscle_group %></h5>
			<h5 class="workout-info">Sets: <%= @workout.sets %></h5>
			<h5 class="workout-info">Reps: <%= @workout.reps %></h5>
			<h5 class="workout-info">Weight: <%= @workout.weight %></h5>
			<h5 class="workout-info">Date: <%= @workout.date %></h5>
		</div>
		<div class="show-quote">
			<%= render partial: 'quote' %>
		</div>
	</div>
	<div class="show-UD">
		<form class="show-form" action="http://localhost:3000/workouts/<%= @workout %>/edit">
			<button class="show-link">Edit Wrokout</button>
		</form>
<!-- 
		<%= form_for @workout, :class => 'show-form', url: "" do |f| %>
			<%= f.submit "Edit Workout", :class => 'show-link' %>
		<% end %> -->
		<%= form_for @workout, :class => 'show-link', html: {method: 'delete'} do |f| %>
			<%= f.submit "Delete Workout", :class => "show-link" %>
		<% end %>
	</div>
	<div class="show-footer">
		<%= render partial: 'footer' %>
	</div>
</div>